numpy==1.26.*
pandas==2.1.*
scipy
matplotlib
seaborn
opencv-python==4.9.*
pillow
scikit-learn
ultralytics==8.3.0
sahi
shapely
python-dotenv
tqdm
pyyaml
roboflow
openpyxl
fastapi
uvicorn
jinja2
python-multipart
